In [138]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.   
total_df = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

total_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [139]:
#District Summary Dataframwe

#Calculate the total number of schools
schools = total_df['school_name'].nunique()

#Calculate the total number of students
students = total_df['student_name'].count()

#Calculate the total budget
total_budget = total_df['budget'].sum()

#Calculate the average math score
math_score = total_df['math_score'].mean()

#Calculate the average reading score
reading_score = total_df['reading_score'].mean()

#Calculate the percentage of students with a passing math score (70 or greater)
passing_math = total_df.loc[total_df['math_score'] >=70, :]['student_name'].count()
percent_passing_math = passing_math / students * 100

#Calculate the percentage of students with a passing reading score (70 or greater)
passing_reading = total_df.loc[student_data['reading_score'] >=70, :]['student_name'].count()
percent_passing_reading = passing_reading / students * 100

#Calculate the percentage of students who passed math and reading (% Overall Passing) - while loop???
percent_overall = total_df[(total_df['math_score'] >= 70) & (student_data['reading_score'] >= 70)]['student_name'].count()/students * 100


#Create a dataframe to hold the above results
district_summary_df = pd.DataFrame({
    "Total # of schools": [schools],
    "Total # of students": [students],
    "Total budget": [total_budget],
    "Average math score": [math_score],
    "Average reading score": [reading_score],
    "Percent of Students Passing Math": [percent_passing_math],
    "Percent of Students Passing Reading": [percent_passing_reading],
    "Percent of Students Passing Math and Reading": [percent_overall]

})

district_summary_df
#Optional: give the displayed data cleaner formatting

,Total # of schools,Total # of students,Total budget,Average math score,Average reading score,Percent of Students Passing Math,Percent of Students Passing Reading,Percent of Students Passing Math and Reading
0,15,39170,82932329558,78.985371,81.87784,74.980853,85.805463,65.172326

In [140]:

#Overview summary with...
school_summary_start = total_df[['school_name', 'type', 'size', 'budget', 'math_score', 'reading_score']]

grouped_df = school_summary_start.groupby(['school_name'])

grouped_means = grouped_df.mean()
grouped_means

                         size     budget  math_score  reading_score
school_name
Bailey High School     4976.0  3124928.0   77.048432      81.033963
Cabrera High School    1858.0  1081356.0   83.061895      83.975780
Figueroa High School   2949.0  1884411.0   76.711767      81.158020
Ford High School       2739.0  1763916.0   77.102592      80.746258
Griffin High School    1468.0   917500.0   83.351499      83.816757
Hernandez High School  4635.0  3022020.0   77.289752      80.934412
Holden High School      427.0   248087.0   83.803279      83.814988
Huang High School      2917.0  1910635.0   76.629414      81.182722
Johnson High School    4761.0  3094650.0   77.072464      80.966394
Pena High School        962.0   585858.0   83.839917      84.044699
Rodriguez High School  3999.0  2547363.0   76.842711      80.744686
Shelton High School    1761.0  1056600.0   83.359455      83.725724
Thomas High School     1635.0  1043130.0   83.418349      83.848930
Wilson High School     2283.0  1319574.0   83.274201      83.989488
Wright High School     1800.0  1049400.0   83.682222      83.955000

In [158]:

#school name
#school_name = school_data['school_name']
# School type
school_type = school_data.set_index(['school_name'])['type']
print(school_type)

#Total students
#total_students = total_df.groupby(['school_name'])['Student ID'].count()
total_students = total_df['school_name'].value_counts()
print(total_students)

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object
Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: school_name, dtype: int64

In [142]:
#Total School budget
school_budget = school_data.set_index(['school_name'])['budget']
print(school_budget)
#Per student budget
#student_budget = school_data.set_index('school_name')['budget']/school_data.set_index('school_name')['size']

per_school_capita = school_budget / total_students

print(student_budget)

school_name
Huang High School        1910635
Figueroa High School     1884411
Shelton High School      1056600
Hernandez High School    3022020
Griffin High School       917500
Wilson High School       1319574
Cabrera High School      1081356
Bailey High School       3124928
Holden High School        248087
Pena High School          585858
Wright High School       1049400
Rodriguez High School    2547363
Johnson High School      3094650
Ford High School         1763916
Thomas High School       1043130
Name: budget, dtype: int64
school_name
Huang High School        655.0
Figueroa High School     639.0
Shelton High School      600.0
Hernandez High School    652.0
Griffin High School      625.0
Wilson High School       578.0
Cabrera High School      582.0
Bailey High School       628.0
Holden High School       581.0
Pena High School         609.0
Wright High School       583.0
Rodriguez High School    637.0
Johnson High School      650.0
Ford High School         644.0
Thomas High School       638.0
dtype: float64

In [143]:
#Average Math Score
avg_math = total_df.groupby(['school_name'])['math_score'].mean()

#Average Reading Score
avg_reading = total_df.groupby(['school_name'])['reading_score'].mean()

In [144]:
#% Passing Math
percent_passing_m_school = total_df[total_df['math_score'] >= 70].groupby(['school_name'])['Student ID'].count()/total_students*100

# % Passing Reading
percent_passing_r_school = total_df[total_df['reading_score'] >= 70].groupby(['school_name'])['Student ID'].count()/total_students*100

# Percent overall passing
passing_overall = total_df[(total_df['reading_score'] >= 70) & (total_df['math_score'] >= 70)].groupby(['school_name'])['Student ID'].count()/total_students*100

In [163]:
# Display Dataframe
school_summary = pd.DataFrame({
    "School Type": school_type,
    "Total # of students": total_students,
    "Total budget": school_budget,
    "Per Student Budget": student_budget,
    "Average Math Score": avg_math,
    "Average Reading Score": avg_reading,
    "% Passing Math": percent_passing_m_school,
    "% Passing Reading":percent_passing_r_school,
    "% Passing Overall": passing_overall
})

school_summary



#Optional: give the displayed data cleaner formatting

,School Type,Total # of students,Total budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Overall
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,Charter,427,248087,581.0,83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,90.948012
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,93.333333,96.611111,90.333333

In [146]:
# Top performing schools
# Sort and display the top 5 performing schools by % overall passing

In [147]:
# Bottom performing schools
# Sort and display the 5 worst performing schools by % overall passing

In [148]:
# Math scores by grade
# Create a table that lists the average reading score for the students of each grade level (9th, 10th, 11th, 12th) at each school
# Create a pandas series for each grade. Hint: use a conditional statement.

# Group each series by school

# Combine the series into a dataframe

# Optional: give the displayed data cleaner formatting

In [149]:
# Reading scores by grade
# Create a table that lists the average math score for the students of each grade level (9th, 10th, 11th, 12th) at each school
# Create a pandas series for each grade. Hint: use a conditional statement.

# Group each series by school

# Combine the series into a dataframe

# Optional: give the displayed data cleaner formatting

In [150]:
# Scores by school spending
# Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
# Average Math Score

# Average Reading Score

# % Passing Math

# % Passing Reading

# Overall Passing Rate (Average of the above two)

In [151]:
# Scores by school size
# Create a table that breaks down school performances based on School Size. Use 4 reasonable bins to group school spending. Include in the table each of the following:
# Average Math Score

# Average Reading Score

# % Passing Math

# % Passing Reading

# Overall Passing Rate (Average of the above two)

In [152]:
# Scores by school type (charter or district)
#Include in the table each of the following:

# Average Math Score

# Average Reading Score

# % Passing Math

# % Passing Reading

# Overall Passing Rate (Average of the above two)