In [14]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.   
total_df = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

total_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [15]:
#Calculate the total number of schools
schools = total_df['school_name'].nunique()

#Calculate the total number of students
students = student_data['student_name'].nunique()

#Calculate the total budget
budget = school_data['budget'].sum()

#Calculate the average math score
math_score = student_data['math_score'].mean()

#Calculate the average reading score
reading_score = student_data['reading_score'].mean()

#Calculate the percentage of students with a passing math score (70 or greater)


#Calculate the percentage of students with a passing reading score (70 or greater)

#Calculate the percentage of students who passed math and reading (% Overall Passing)

#Create a dataframe to hold the above results
summary_df = pd.DataFrame({
    "Total # of schools": [schools],
    "Total # of students": [students],
    "Total budget": [budget],
    "Average math score": [math_score],
    "Average reading score": [reading_score]

})

summary_df
#Optional: give the displayed data cleaner formatting

,Total # of schools,Total # of students,Total budget,Average math score,Average reading score
0,15,32715,24649428,78.985371,81.87784