In [173]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.   
total_df = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

total_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [174]:
#District Summary Dataframwe

#Calculate the total number of schools
schools = total_df['school_name'].nunique()

#Calculate the total number of students
students = total_df['student_name'].count()

#Calculate the total budget
total_budget = school_data['budget'].sum()

#Calculate the average math score
math_score = total_df['math_score'].mean()

#Calculate the average reading score
reading_score = total_df['reading_score'].mean()

#Calculate the percentage of students with a passing math score (70 or greater)
passing_math = total_df.loc[total_df['math_score'] >=70, :]['student_name'].count()
percent_passing_math = passing_math / students * 100

#Calculate the percentage of students with a passing reading score (70 or greater)
passing_reading = total_df.loc[student_data['reading_score'] >=70, :]['student_name'].count()
percent_passing_reading = passing_reading / students * 100

#Calculate the percentage of students who passed math and reading (% Overall Passing) - while loop???
percent_overall = total_df[(total_df['math_score'] >= 70) & (student_data['reading_score'] >= 70)]['student_name'].count()/students * 100


#Create a dataframe to hold the above results

#Optional: give the displayed data cleaner formatting

district_summary_df = pd.DataFrame({
    "Total # of schools": [schools],
    "Total # of students": [students],
    "Total budget": '${:,.2f}'.format(total_budget),
    "Average math score": '{:,.2f}%'.format(math_score),
    "Average reading score": '{:,.2f}%'.format(reading_score),
    "Percent of Students Passing Math": '{:,.2f}%'.format(percent_passing_math),
    "Percent of Students Passing Reading": '{:,.2f}%'.format(percent_passing_reading),
    "Percent of Students Passing Math and Reading": '{:,.2f}%'.format(percent_overall)

})


district_summary_df

,Total # of schools,Total # of students,Total budget,Average math score,Average reading score,Percent of Students Passing Math,Percent of Students Passing Reading,Percent of Students Passing Math and Reading
0,15,39170,"$24,649,428.00",78.99%,81.88%,74.98%,85.81%,65.17%

In [175]:

#school name
#school_name = school_data['school_name']
# School type
school_type = school_data.set_index(['school_name'])['type']
print(school_type)

#Total students
#total_students = total_df.groupby(['school_name'])['Student ID'].count()
total_students = total_df.groupby('school_name')['Student ID'].count()
print(total_students)

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object
school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: Student ID, dtype: int64

In [176]:
#Total School budget
school_budget = school_data.set_index(['school_name'])['budget']
print(school_budget)
#Per student budget
student_budget = school_budget / total_students

print(student_budget)

school_name
Huang High School        1910635
Figueroa High School     1884411
Shelton High School      1056600
Hernandez High School    3022020
Griffin High School       917500
Wilson High School       1319574
Cabrera High School      1081356
Bailey High School       3124928
Holden High School        248087
Pena High School          585858
Wright High School       1049400
Rodriguez High School    2547363
Johnson High School      3094650
Ford High School         1763916
Thomas High School       1043130
Name: budget, dtype: int64
school_name
Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [177]:
#Average Math Score
avg_math = total_df.groupby(['school_name'])['math_score'].mean()

#Average Reading Score
avg_reading = total_df.groupby(['school_name'])['reading_score'].mean()

In [178]:
#% Passing Math
percent_passing_m_school = total_df[total_df['math_score'] >= 70].groupby(['school_name'])['Student ID'].count()/total_students*100

# % Passing Reading
percent_passing_r_school = total_df[total_df['reading_score'] >= 70].groupby(['school_name'])['Student ID'].count()/total_students*100

# Percent overall passing
passing_overall = total_df[(total_df['reading_score'] >= 70) & (total_df['math_score'] >= 70)].groupby(['school_name'])['Student ID'].count()/total_students*100

In [179]:
# Display Dataframe
school_summary = pd.DataFrame({
    "School Type": school_type,
    "Total # of students": total_students,
    "Total budget": school_budget,
    "Per Student Budget": student_budget,
    "Average Math Score": avg_math,
    "Average Reading Score": avg_reading,
    "% Passing Math": percent_passing_m_school,
    "% Passing Reading":percent_passing_r_school,
    "% Passing Overall": passing_overall
})


school_summary_format = school_summary.copy()

#Optional: give the displayed data cleaner formatting
school_summary_format["Total budget"] = school_summary["Total budget"].map("${:,.2f}".format)
school_summary_format["Per Student Budget"] = school_summary["Per Student Budget"].map("${:,.2f}".format)
school_summary_format["Average Math Score"] = school_summary["Average Math Score"].map("{:,.2f}%".format)
school_summary_format["Average Reading Score"] = school_summary["Average Reading Score"].map("{:,.2f}%".format)
school_summary_format["% Passing Math"] = school_summary["% Passing Math"].map("{:,.2f}%".format)
school_summary_format["% Passing Reading"] = school_summary["% Passing Reading"].map("{:,.2f}%".format)
school_summary_format["% Passing Overall"] = school_summary["% Passing Overall"].map("{:,.2f}%".format)
school_summary_format[["School Type",
    "Total # of students",
    "Total budget",
    "Per Student Budget",
    "Average Math Score",
    "Average Reading Score",
    "% Passing Math",
    "% Passing Reading",
    "% Passing Overall"]]
school_summary_format

,School Type,Total # of students,Total budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Overall
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.05%,81.03%,66.68%,81.93%,54.64%
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.06%,83.98%,94.13%,97.04%,91.33%
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.71%,81.16%,65.99%,80.74%,53.20%
Ford High School,District,2739,"$1,763,916.00",$644.00,77.10%,80.75%,68.31%,79.30%,54.29%
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.35%,83.82%,93.39%,97.14%,90.60%
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.29%,80.93%,66.75%,80.86%,53.53%
Holden High School,Charter,427,"$248,087.00",$581.00,83.80%,83.81%,92.51%,96.25%,89.23%
Huang High School,District,2917,"$1,910,635.00",$655.00,76.63%,81.18%,65.68%,81.32%,53.51%
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.07%,80.97%,66.06%,81.22%,53.54%
Pena High School,Charter,962,"$585,858.00",$609.00,83.84%,84.04%,94.59%,95.95%,90.54%
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.84%,80.74%,66.37%,80.22%,52.99%
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.36%,83.73%,93.87%,95.85%,89.89%
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.42%,83.85%,93.27%,97.31%,90.95%
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.27%,83.99%,93.87%,96.54%,90.58%
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.68%,83.95%,93.33%,96.61%,90.33%

In [180]:
# Top performing schools
# Sort and display the top 5 performing schools by % overall passing
topfive = school_summary.sort_values(['% Passing Overall'], ascending=False)
topfive.head()

,School Type,Total # of students,Total budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Overall
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,90.948012
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,90.540541

In [181]:
# Bottom performing schools
# Sort and display the 5 worst performing schools by % overall passing
bottomfive = school_summary.sort_values(['% Passing Overall'], ascending=True)
bottomfive.head()

,School Type,Total # of students,Total budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Overall
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,52.988247
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,53.539172

In [182]:
# Math scores by grade
# Create a table that lists the average reading score for the students of each grade level (9th, 10th, 11th, 12th) at each school
# Create a pandas series for each grade. Hint: use a conditional statement.
# Group each series by school
grade_9_m = total_df[total_df['grade'] == "9th"].groupby("school_name")['math_score'].mean()
print(grade_9_m)

school_name
Bailey High School       77.083676
Cabrera High School      83.094697
Figueroa High School     76.403037
Ford High School         77.361345
Griffin High School      82.044010
Hernandez High School    77.438495
Holden High School       83.787402
Huang High School        77.027251
Johnson High School      77.187857
Pena High School         83.625455
Rodriguez High School    76.859966
Shelton High School      83.420755
Thomas High School       83.590022
Wilson High School       83.085578
Wright High School       83.264706
Name: math_score, dtype: float64

In [183]:
grade_10_m = total_df[total_df['grade'] == "10th"].groupby("school_name")['math_score'].mean()
grade_11_m = total_df[total_df['grade'] == "11th"].groupby("school_name")['math_score'].mean()
grade_12_m = total_df[total_df['grade'] == "12th"].groupby("school_name")['math_score'].mean()


# Combine the series into a dataframe
math_bygrade = pd.DataFrame({"Grade 9 Avg Math Scores": grade_9_m,
    "Grade 10 Avg Math Scores": grade_10_m,
    "Grade 11 Avg Math Scores": grade_11_m,
    "Grade 12 Avg Math Scores": grade_12_m})

# Optional: give the displayed data cleaner formatting

math_bygrade["Grade 9 Avg Math Scores"] = math_bygrade["Grade 9 Avg Math Scores"].map("{:,.2f}%".format)
math_bygrade["Grade 10 Avg Math Scores"] = math_bygrade["Grade 10 Avg Math Scores"].map("{:,.2f}%".format)
math_bygrade["Grade 11 Avg Math Scores"] = math_bygrade["Grade 11 Avg Math Scores"].map("{:,.2f}%".format)
math_bygrade["Grade 12 Avg Math Scores"] = math_bygrade["Grade 12 Avg Math Scores"].map("{:,.2f}%".format)

math_bygrade[["Grade 9 Avg Math Scores",
    "Grade 10 Avg Math Scores",
    "Grade 11 Avg Math Scores",
    "Grade 12 Avg Math Scores"]]

math_bygrade

,Grade 9 Avg Math Scores,Grade 10 Avg Math Scores,Grade 11 Avg Math Scores,Grade 12 Avg Math Scores
school_name,,,,
Bailey High School,77.08%,77.00%,77.52%,76.49%
Cabrera High School,83.09%,83.15%,82.77%,83.28%
Figueroa High School,76.40%,76.54%,76.88%,77.15%
Ford High School,77.36%,77.67%,76.92%,76.18%
Griffin High School,82.04%,84.23%,83.84%,83.36%
Hernandez High School,77.44%,77.34%,77.14%,77.19%
Holden High School,83.79%,83.43%,85.00%,82.86%
Huang High School,77.03%,75.91%,76.45%,77.23%
Johnson High School,77.19%,76.69%,77.49%,76.86%
Pena High School,83.63%,83.37%,84.33%,84.12%
Rodriguez High School,76.86%,76.61%,76.40%,77.69%
Shelton High School,83.42%,82.92%,83.38%,83.78%
Thomas High School,83.59%,83.09%,83.50%,83.50%
Wilson High School,83.09%,83.72%,83.20%,83.04%
Wright High School,83.26%,84.01%,83.84%,83.64%

In [184]:
# Reading scores by grade
# Create a table that lists the average math score for the students of each grade level (9th, 10th, 11th, 12th) at each school
# Create a pandas series for each grade. Hint: use a conditional statement.

# Group each series by school
grade_9_r = total_df[total_df['grade'] == "10th"].groupby("school_name")['reading_score'].mean()
grade_10_r = total_df[total_df['grade'] == "10th"].groupby("school_name")['reading_score'].mean()
grade_11_r = total_df[total_df['grade'] == "11th"].groupby("school_name")['reading_score'].mean()
grade_12_r = total_df[total_df['grade'] == "12th"].groupby("school_name")['reading_score'].mean()
# Combine the series into a dataframe
reading_bygrade = pd.DataFrame({"Grade 9 Avg Reading Scores": grade_9_r,
    "Grade 10 Avg Reading Scores": grade_10_r,
    "Grade 11 Avg Reading Scores": grade_11_r,
    "Grade 12 Avg Reading Scores": grade_12_r})

# Optional: give the displayed data cleaner formatting

reading_bygrade["Grade 9 Avg Reading Scores"] = reading_bygrade["Grade 9 Avg Reading Scores"].map("{:,.2f}%".format)
reading_bygrade["Grade 10 Avg Reading Scores"] = reading_bygrade["Grade 10 Avg Reading Scores"].map("{:,.2f}%".format)
reading_bygrade["Grade 11 Avg Reading Scores"] = reading_bygrade["Grade 11 Avg Reading Scores"].map("{:,.2f}%".format)
reading_bygrade["Grade 12 Avg Reading Scores"] = reading_bygrade["Grade 12 Avg Reading Scores"].map("{:,.2f}%".format)

reading_bygrade[["Grade 9 Avg Reading Scores",
    "Grade 10 Avg Reading Scores",
    "Grade 11 Avg Reading Scores",
    "Grade 12 Avg Reading Scores"]]
reading_bygrade

,Grade 9 Avg Reading Scores,Grade 10 Avg Reading Scores,Grade 11 Avg Reading Scores,Grade 12 Avg Reading Scores
school_name,,,,
Bailey High School,80.91%,80.91%,80.95%,80.91%
Cabrera High School,84.25%,84.25%,83.79%,84.29%
Figueroa High School,81.41%,81.41%,80.64%,81.38%
Ford High School,81.26%,81.26%,80.40%,80.66%
Griffin High School,83.71%,83.71%,84.29%,84.01%
Hernandez High School,80.66%,80.66%,81.40%,80.86%
Holden High School,83.32%,83.32%,83.82%,84.70%
Huang High School,81.51%,81.51%,81.42%,80.31%
Johnson High School,80.77%,80.77%,80.62%,81.23%
Pena High School,83.61%,83.61%,84.34%,84.59%
Rodriguez High School,80.63%,80.63%,80.86%,80.38%
Shelton High School,83.44%,83.44%,84.37%,82.78%
Thomas High School,84.25%,84.25%,83.59%,83.83%
Wilson High School,84.02%,84.02%,83.76%,84.32%
Wright High School,83.81%,83.81%,84.16%,84.07%

In [185]:
print(min(student_budget))
print(max(student_budget))

578.0
655.0

In [186]:
# Scores by school spending
# Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:

spending_bins = [0, 590, 620, 660]
spending_group = ["< $590/student", "$590-620/student", "$620-655/student"]


school_summary['Spending Per Student'] = pd.cut(school_summary['Per Student Budget'], spending_bins, labels=spending_group)
school_summary

,School Type,Total # of students,Total budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Overall,Spending Per Student
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,66.680064,81.933280,54.642283,$620-655/student
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,91.334769,< $590/student
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,53.204476,$620-655/student
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,54.289887,$620-655/student
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,90.599455,$620-655/student
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,66.752967,80.862999,53.527508,$620-655/student
Holden High School,Charter,427,248087,581.0,83.803279,83.814988,92.505855,96.252927,89.227166,< $590/student
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,53.513884,$620-655/student
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,53.539172,$620-655/student
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,90.540541,$590-620/student
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,52.988247,$620-655/student
Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,93.867121,95.854628,89.892107,$590-620/student
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,90.948012,$620-655/student
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,90.582567,< $590/student
Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,93.333333,96.611111,90.333333,< $590/student

In [187]:
summary_byspending = school_summary.groupby("Spending Per Student")
print(summary_byspending['Total # of students'].count())

# Average Math Score

# Average Reading Score

# % Passing Math

# % Passing Reading

# Overall Passing Rate (Average of the above two)

summary_byspending[['Average Math Score', 'Average Reading Score', '% Passing Math', '% Passing Reading', '% Passing Overall']].mean()

Spending Per Student
< $590/student      4
$590-620/student    2
$620-655/student    9
Name: Total # of students, dtype: int64

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Overall
Spending Per Student,,,,,
< $590/student,83.455399,83.933814,93.460096,96.610877,90.369459
$590-620/student,83.599686,83.885211,94.230858,95.900287,90.216324
$620-655/student,78.385220,81.603571,72.500412,84.449030,61.916992

In [188]:
print(min(total_students))
print(max(total_students))

427
4976

In [189]:
# Scores by school size
# Create a table that breaks down school performances based on School Size. Use 4 reasonable bins to group school spending. Include in the table each of the following:
# Average Math Score

# Average Reading Score

# % Passing Math

# % Passing Reading

# Overall Passing Rate (Average of the above two)
size_bins = [0, 1500, 3000, 5000]
size_group = ["< 1500 students", "1500-3000 students", "3000-5000 students"]


school_summary['School Size'] = pd.cut(school_summary['Total # of students'], size_bins, labels=size_group)
school_summary

summary_bysize = school_summary.groupby("School Size")
print(summary_bysize['Total # of students'].count())

summary_bysize[['Average Math Score', 'Average Reading Score', '% Passing Math', '% Passing Reading', '% Passing Overall']].mean()

School Size
< 1500 students       3
1500-3000 students    8
3000-5000 students    4
Name: Total # of students, dtype: int64

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Overall
School Size,,,,,
< 1500 students,83.664898,83.892148,93.497607,96.445946,90.122387
1500-3000 students,80.904987,82.822740,83.556977,90.588593,76.762379
3000-5000 students,77.063340,80.919864,66.464293,81.059691,53.674303

In [191]:
# Scores by school type (charter or district)
#Include in the table each of the following:

# Average Math Score

# Average Reading Score

# % Passing Math

# % Passing Reading

# Overall Passing Rate (Average of the above two)
summary_bytype = school_summary.groupby("School Type")
print(summary_bytype['Total # of students'].count())

summary_bytype[['Average Math Score', 'Average Reading Score', '% Passing Math', '% Passing Reading', '% Passing Overall']].mean()

School Type
Charter     8
District    7
Name: Total # of students, dtype: int64

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Overall
School Type,,,,,
Charter,83.473852,83.896421,93.620830,96.586489,90.432244
District,76.956733,80.966636,66.548453,80.799062,53.672208