In [284]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.   
total_df = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

total_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [299]:
#District Summary Dataframwe

#Calculate the total number of schools
schools = total_df['school_name'].nunique()

#Calculate the total number of students
students = total_df['student_name'].count()

#Calculate the total budget
total_budget = total_df['budget'].sum()

#Calculate the average math score
math_score = total_df['math_score'].mean()

#Calculate the average reading score
reading_score = total_df['reading_score'].mean()

#Calculate the percentage of students with a passing math score (70 or greater)
passing_math = total_df.loc[total_df['math_score'] >=70, :]['student_name'].count()
percent_passing_math = passing_math / students * 100

#Calculate the percentage of students with a passing reading score (70 or greater)
passing_reading = total_df.loc[student_data['reading_score'] >=70, :]['student_name'].count()
percent_passing_reading = passing_reading / students * 100

#Calculate the percentage of students who passed math and reading (% Overall Passing) - while loop???
percent_overall = total_df[(total_df['math_score'] >= 70) & (student_data['reading_score'] >= 70)]['student_name'].count()/students * 100


#Create a dataframe to hold the above results
district_summary_df = pd.DataFrame({
    "Total # of schools": [schools],
    "Total # of students": [students],
    "Total budget": [total_budget],
    "Average math score": [math_score],
    "Average reading score": [reading_score],
    "Percent of Students Passing Math": [percent_passing_math],
    "Percent of Students Passing Reading": [percent_passing_reading],
    "Percent of Students Passing Math and Reading": [percent_overall]

})

district_summary_df
#Optional: give the displayed data cleaner formatting

,Total # of schools,Total # of students,Total budget,Average math score,Average reading score,Percent of Students Passing Math,Percent of Students Passing Reading,Percent of Students Passing Math and Reading
0,15,39170,82932329558,78.985371,81.87784,74.980853,85.805463,65.172326

In [298]:
#School Summary Dataframe

#Overview summary with...
school_summary_start = total_df[['school_name', 'type', 'size', 'budget', 'math_score', 'reading_score']]

grouped_school_df = school_summary_start.groupby(['school_name'])

print(grouped_school_df)


grouped_school_df.count().head(10)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x000001FAF1443CF8>

                       type  size  budget  math_score  reading_score
school_name
Bailey High School     4976  4976    4976        4976           4976
Cabrera High School    1858  1858    1858        1858           1858
Figueroa High School   2949  2949    2949        2949           2949
Ford High School       2739  2739    2739        2739           2739
Griffin High School    1468  1468    1468        1468           1468
Hernandez High School  4635  4635    4635        4635           4635
Holden High School      427   427     427         427            427
Huang High School      2917  2917    2917        2917           2917
Johnson High School    4761  4761    4761        4761           4761
Pena High School        962   962     962         962            962

In [300]:
#School name
grouped_school_df = total_df.groupby(['school_name'])

# School type
school_type = grouped_school_df['type'].first()

#Total students
total_students = grouped_school_df['student_name'].count()

#Total School budget
school_budget = grouped_school_df['budget'].first()

#Per student budget
student_budget = school_budget / total_students

#Average Math Score
avg_math = grouped_school_df['math_score'].mean()

#Average Reading Score
avg_reading = grouped_school_df['reading_score'].mean()

# % Passing Math


# % Passing Reading

# Percent overall passing

# Display Dataframe
school_summary_df = pd.DataFrame({
    "School Type": [school_type],
    "Total # of students": [total_students],
    "Total budget": [school_budget],
    "Per Student Budget": [student_budget],
    "Average Math Score": [avg_math],
    "Average Reading Score": [avg_reading]

})
school_summary_df = total_df.groupby(['school_name'])

print(school_summary_df)

school_summary_df.count().head(10)
#Optional: give the displayed data cleaner formatting

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x000001FAF10D5470>

,Student ID,student_name,gender,grade,reading_score,math_score,School ID,type,size,budget
school_name,,,,,,,,,,
Bailey High School,4976,4976,4976,4976,4976,4976,4976,4976,4976,4976
Cabrera High School,1858,1858,1858,1858,1858,1858,1858,1858,1858,1858
Figueroa High School,2949,2949,2949,2949,2949,2949,2949,2949,2949,2949
Ford High School,2739,2739,2739,2739,2739,2739,2739,2739,2739,2739
Griffin High School,1468,1468,1468,1468,1468,1468,1468,1468,1468,1468
Hernandez High School,4635,4635,4635,4635,4635,4635,4635,4635,4635,4635
Holden High School,427,427,427,427,427,427,427,427,427,427
Huang High School,2917,2917,2917,2917,2917,2917,2917,2917,2917,2917
Johnson High School,4761,4761,4761,4761,4761,4761,4761,4761,4761,4761
Pena High School,962,962,962,962,962,962,962,962,962,962

In [287]:
# Top performing schools
# Sort and display the top 5 performing schools by % overall passing

In [288]:
# Bottom performing schools
# Sort and display the 5 worst performing schools by % overall passing

In [289]:
# Math scores by grade
# Create a table that lists the average reading score for the students of each grade level (9th, 10th, 11th, 12th) at each school
# Create a pandas series for each grade. Hint: use a conditional statement.

# Group each series by school

# Combine the series into a dataframe

# Optional: give the displayed data cleaner formatting

In [290]:
# Reading scores by grade
# Create a table that lists the average math score for the students of each grade level (9th, 10th, 11th, 12th) at each school
# Create a pandas series for each grade. Hint: use a conditional statement.

# Group each series by school

# Combine the series into a dataframe

# Optional: give the displayed data cleaner formatting

In [291]:
# Scores by school spending
# Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
# Average Math Score

# Average Reading Score

# % Passing Math

# % Passing Reading

# Overall Passing Rate (Average of the above two)

In [292]:
# Scores by school size
# Create a table that breaks down school performances based on School Size. Use 4 reasonable bins to group school spending. Include in the table each of the following:
# Average Math Score

# Average Reading Score

# % Passing Math

# % Passing Reading

# Overall Passing Rate (Average of the above two)

In [293]:
# Scores by school type (charter or district)
#Include in the table each of the following:

# Average Math Score

# Average Reading Score

# % Passing Math

# % Passing Reading

# Overall Passing Rate (Average of the above two)